<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ShortEn|Url Shortener</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <span class="glyphicon glyphicon-link col-lg-12"></span>
        <h1 class="col-lg-12">Shorten Your Link with ShortEn</h1>

        <div class="input-group col-lg-12">
            <input type="text" class="form-control" placeholder="Paste a link to shorten it"
                   aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">SHORTEN</span>
        </div>

        <div class="shortenedLink col-lg-12">
            <div class="link"></div>
        </div>
    </div>
</div>
</body>
</html>

