<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/shorten.js"></script>
    <script src="/static/js/copyUrl.js"></script>

    <title>ShortEn|Url Shortener</title>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <a  class="title" href="/"><h2>ShortEn</h2></a>
        <div class="button-wrap">
            <a href="/login" class="btn btn-default navbar-btn login">Login</a>
            <a href="/signout" class="btn btn-default navbar-btn signout">Signout</a>
        </div>
    </div>
</div>

<div id="container" class="background">
    <div class="container">
        <div class="jumbotron">
            <h1 class="title text-center">Shorten Your Link with ShortEn</h1>

            <form class="form-inline text-center">
                <div class="form-group">
                    <label for="url-field" class="sr-only">Url</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="url-field"
                               placeholder="Paste a link to shorten it">
                        <div class="copied-url"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="shorten-button">SHORTEN</button>
                <button type="button" class="btn btn-success" id="copy-button">COPY</button>
            </form>
        </div>
    </div>
</div>

<div class="footer">
    <p>Copyright © 2017 Teresa. All rights reserved.</p>
</div>
</body>
</html>

