div.header
  background-color: #6988AE
  height: 6em
  display: -webkit-flex
  display: flex
  -webkit-align-items: center
  align-items: center
  .shorten-logo
    text-decoration: none
    font-size: 3em
    font-weight: bold
    color: white
    -webkit-flex: 1
    flex: 1
  .menu
    -webkit-flex: 0
    flex: 0
    font-size: 1.4em
    font-weight: bold

button#login-menu, button#user-menu
  color: #52BDC5
  font-size: 0.8em
  font-weight: bold

a#facebook, a#twitter, a#google
  font-size: 1.3em
  margin: 0.8em 0
  text-align: left

a#settings, a#log-out
  font-size: 1.3em

#separator
  margin: 0.3em 0

.fa-facebook
  color: #337ab7
.fa-twitter
  color: #5cb85c
.fa-google-plus
  color: red
