div.header
  background-color: #6988AE
  height: 6em

header h2
  margin: 0 0 1.5em 0
  height: 2.5em
  line-height: 1.5em
  padding: 0.4em 0 0 1em

a.logo
  text-decoration: none

h2.shorten-logo
  font-size: 3em
  color: white

div.menu
  margin: 2em 0 0 0
  padding: 0

div.dropdown.btn-group
  margin-left: 1.6em

div
  &.jumbotron
    margin-top: 5em
    margin-bottom: 6em
    background-color: #EBEDEE
  &.copied-url
    position: absolute
    top: -1.8em
    left: 2.1em
  &.error-message
    position: absolute
    top: 2.5em
    left: 1em
    font-size: 1.5em
    color: red

h1.title
  margin: 0.3em 0 0.7em 0

div.input-field
  position: relative
  margin-bottom: 1em

input
  &#url-field
    width: 100%
    height: 2.5em
    font-size: 1.2em

div.buttons
  margin-top: 0.1em

button#shorten-button
  padding: 0.6em 1.4em
  margin-right: 1em

button#copy-button
  padding: 0.6em 2.3em

#user-name
  color: #097BC2
  font-size: 1.2em
  &:hover #user-name:active, &:active
    color: black

div.usage-history-table
  font-size: 1.1em

div.table-head
  width: 100%
  height: 2.5em
  background-color: #F5F8F9
  font-weight: 600

div.table-head-cell
  line-height: 2.5em

div.table-row
  height: 2.5em
  border-bottom: solid 1px #E9EAEB

div.table-row:hover
  background-color: #F9F9F9

div.table-content-cell
  line-height: 2.5em

a.url-link
  text-decoration: none

div.table-column
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

div.sorted-descend:after
  content: " ▼"

div.sorted-ascend:after
  content: " ▲"

div.introduction
  text-align: center

div.intro-content
  margin: 0 0.5em 4em 0.5em
  background-color: #F4F7FA

div.intro-title
  border: 1px solid #e1e1e8
  margin: 6em 0.5em 0 0.5em
  padding: 2em 0

div.intro-main-title
  font-weight: 700

div.glyphicon
  margin: 1em 0 0.5em 0
  font-size: 3em
  color: #F8983F

div.intro-describe
  margin: 0 0 3em 0

@media screen and (max-width: 768px)
  div.jumbotron
    margin-bottom: 0

  div.table-head
    visibility: hidden

  div.table-row
    border: 0

  div.created-time
    border-bottom: solid 1px #E9EAEB

  div.shortened-url
    visibility: hidden
    height: 0

